* {
    margin: 0;
    padding: 0;
    font-family: "Spline Sans Mono", monospace;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(LPU.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 135px;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

.text-box {
    width: 90%;
    color: #eb701e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 50px;
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 655px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .text-box h1 {
        font-size: 20px;
    }
}

/*---------- course --------*/

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
}

p {
    color: #777;
    font-size: 20px;
    font-weight: 200;
    font-style: oblique;
    line-height: 22px;
    padding: 10px;
}

.rows {
    margin-top: 10%;
    display: fl;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #dbd4ce;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width:700px) {
    .row {
        flex-direction: column;
    }
}

/*---------------- campus ----------------*/

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 80%;


}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}

.layer:hover {
    background: transparent(249, 227, 216, 0.96);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*-------------- Facilities ----------------*/
.row1 {
    display: flex;
    gap: 30px;
    
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media (max-width:700px) {
    .row {
        flex-direction: column;
    }
}

/*---------------- testimonials ------------------*/

/* .testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: #f44336;
}

@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
} */
.row3 {
    display: flex;
    gap: 40px;
}

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
}

figure.snip1157 {
    /* display: flex; */
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1157 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
    max-width: 100%;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 25px 50px 30px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1157 blockquote:before {
    top: 25px;
    left: 20px;
}

figure.snip1157 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

figure.snip1157 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ec6008;
    margin: 0;
    position: absolute;
}

figure.snip1157 .author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    text-transform: uppercase;
    color: #923e09;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

figure.snip1157 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

figure.snip1157 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}

/* Demo purposes only */
html {
    height: 100%;
}

body {
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0;
    height: 100%;
}

/* @media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
} */

/*-------- Call To Action ----------*/


/* .cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
} */
/* .cta1 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(meeting-room-.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
} */

/* .image-box{
position: relative;
}
.image-box__background,
.image-box__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
} */
.header1 {
    min-height: 25vh;
    width: 50%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(meeting-room-.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.text-box1 {
    width: 90%;
    color: #ede7e3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
h9 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

@media(max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/*--------------Footer---------------*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;
}
/* body { background:#f6e6ca; margin:20px 30px } */
.rsi-box {
  border:1px solid #0d1f2c;
  border-top-color:#286e80;
  position:relative;
  width:800px;
  text-align: center;
  background:rgba(0,0,0,.2);
}

.rsi-corner:after, .rsi-corner:before,
.rsi-box:after, .rsi-box:before {
  content:'';
  display:block;
  position:absolute;
}
.rsi-box:after {
  background:#37aac1;
  width:66%; height:1px;
  top:-1px; right:0;
}
.rsi-box:before {
  background:#37aac1;
  width:40%; height:2px;
  top:0; right:0;
}
.rsi-corner {
  width:0; height:0;
  border:12px solid transparent;
  border-bottom-color:#09daff;
  position:absolute;
}
.rsi-corner:after {
  width:0; height:0;
  border:4px solid transparent;
  border-bottom-color:#001120;
  top:1px; left:-4px;
}
.rsi-corner:before {
  width:32px;
  border:6px solid transparent;
  border-bottom-color:rgba(9, 94, 124, .8);
  left:-18px; top:6px;
}
.rsi-corner.crnr-tl { top:-12px; left:-12px; transform:rotate(-45deg) }
.rsi-corner.crnr-tr { top:-12px; right:-12px; transform:rotate(45deg) }
.rsi-corner.crnr-bl { bottom:-12px; left:-12px; transform:rotate(-135deg) }
.rsi-corner.crnr-br { bottom:-12px; right:-12px; transform:rotate(135deg) }

.rsi-content {
  color:#020d0f;
  font-style: italic;
    padding:2em 3em;
  font:normal  Tahoma;
}
h4 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
}
.rsi-content p:first-letter {
  font-size:77px;
  line-height:50px;
  margin-right:10px;
  float:left;
}

/*--------------- About Us Page --------------*/


.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.hero-btn.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.hero-btn.red-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
}

.hero-btn.red-btn::after {
    background: #f44336;
}

.hero-btn.red-btn::before {
    background: #f44336;
}

.content-image {
    flex-basis: 50%;
}

.about-col img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    /* background: #262626; */
  }
  
   /* div7{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  div7 lin {
    list-style: none;
    margin: 0 15px;
  }
  
  div7 lin a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  div7 lin a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  div7 lin a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  div7 lin a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
  div7 {
    margin: 0;
    padding: 0;  */
    


/*---------- Blog Page -------------*/

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-right {
    flex-basis: 32%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}


@media (max-width:700px) {
    .sub-header h1 {
        font-size: 24px;
    }
}


/*------- Contact Us Page ------------*/

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;

}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

/* .image-box {
    width:40vw;
    height:40vh;
    align-items: center;
    align-content: center;
    /* background-color: antiquewhite; */
    
/* }
.img-ft{
    background-image: url(banner2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
  
    background-repeat: no-repeat;
    align-items: center;
    
    
}  */
/* .footer-link {
    text-decoration: none;
    color: #777;
} */